
/* Remove some Icons from Channel Lists */
[class*="iconVisibility_"] {
    [aria-label="Create Invite"],
    [aria-label="Edit Channel"],
    [aria-label="Create Channel"] {
      display: none !important;
    }
  }
  
  [class*="sidebar_"]:not(:has([aria-label*="Direct Messages"])) {
    [aria-label="Channels"] {
      background-image: linear-gradient(to left, transparent 0%, black calc(230px * 0.40)),
        var(--side-image), linear-gradient(transparent 0%, black 0%),
        var(--side-image);
      background-size: 230px calc(100% - 100px), calc(100vh / 12);
      background-repeat: no-repeat;
      background-position: left bottom, calc(320px - (100vh/12)) 11rem; //250px > 320px
      background-attachment: local, fixed;
      background-blend-mode: luminosity;
    }
  
    [aria-label="Channels"]:hover {
      background-blend-mode: normal;
    }
  
    [class*="avatar_"] {
      filter: unset;
    }
  }