@use 'sass:map';
@use '../vars' as *;

div > [class*="layout_"] {
    border-radius: map.get($settings, sidebar, members, border-radius);
    margin: 0.3px;
}

[class^="memberInner"]{
        &:has(div > div[aria-label*="online"]) {
        background: map.get($settings, sidebar, members, online)
    }
    &:has(div > div[aria-label*="offline"]) {
        background: map.get($settings, sidebar, members, offline);
    }
    &:has(div > div[aria-label*="dnd"]) {
        background: map.get($settings, sidebar, members, dnd);
    }
    &:has(div > div[aria-label*="idle"]) {
        background: map.get($settings, sidebar, members, idle);
    }:has(div > div[aria-label*="streaming"]) {
    background: map.get($settings, sidebar, members, streaming);
    }
}

ul > li > [class*="interactive_"] {
    border-radius: map.get($settings, sidebar, members, border-radius);
    margin: 0.3px;
}

[class^="link_"]{
    &:has(div > div[aria-label*="online"]) {
    background: map.get($settings, sidebar, members, online)
}
&:has(div > div[aria-label*="offline"]) {
    background: map.get($settings, sidebar, members, offline);
}
&:has(div > div[aria-label*="dnd"]) {
    background: map.get($settings, sidebar, members, dnd);
}
&:has(div > div[aria-label*="idle"]) {
    background: map.get($settings, sidebar, members, idle);
}:has(div > div[aria-label*="streaming"]) {
background: map.get($settings, sidebar, members, streaming);
}
}

